### Read the dataset

In [1]:
import pandas as pd
raw_df = pd.read_csv('./dataset/covtype.data', header = None)

In [2]:
raw_df.head()

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5

In [3]:
raw_df.shape

(581012, 55)

The dataset has 55 columns with 581K records. The dataset does not come with headers. We will have to create headers based on the dataset information below:

[ Name / Data Type / Measurement / Description ]

* Elevation / quantitative /meters / Elevation in meters
* Aspect / quantitative / azimuth / Aspect in degrees azimuth
* Slope / quantitative / degrees / Slope in degrees
* Horizontal_Distance_To_Hydrology / quantitative / meters / Horz Dist to nearest surface water features
* Vertical_Distance_To_Hydrology / quantitative / meters / Vert Dist to nearest surface water features
* Horizontal_Distance_To_Roadways / quantitative / meters / Horz Dist to nearest roadway
* Hillshade_9am / quantitative / 0 to 255 index / Hillshade index at 9am, summer solstice
* Hillshade_Noon / quantitative / 0 to 255 index / Hillshade index at noon, summer soltice
* Hillshade_3pm / quantitative / 0 to 255 index / Hillshade index at 3pm, summer solstice
* Horizontal_Distance_To_Fire_Points / quantitative / meters / Horz Dist to nearest wildfire ignition points
* Wilderness_Area (4 binary columns) / qualitative / 0 (absence) or 1 (presence) / Wilderness area designation
* Soil_Type (40 binary columns) / qualitative / 0 (absence) or 1 (presence) / Soil Type designation
* Cover_Type (7 types) / integer / 1 to 7 / Forest Cover Type designation

In [30]:
# initialize empty list
columns_list=[]
columns_list = [ 'elevation',
                  'aspect',
                  'slope',
                  'horizontal_distance_to_hydrology',
                  'vertical_distance_to_hydrology',
                  'horizontal_distance_to_roadways',
                  'hillshade_9mm',
                  'hillshade_noon',
                  'hillshade_3pm',
                  'horizontal_distance_to_fire_points',
                  
]

# append wilderness area column names
columns_list.extend([ str('wilderness_area_'+str(i+1)) for i in range(4) ])

# apend soil type column name
columns_list.extend([ str('soil_type'+str(i+1)) for i in range(40) ])

# apend cover_type
columns_list.append('cover_type')

In [31]:
len(columns_list)

55

In [33]:
# give column names to the raw_df
raw_df.columns = columns_list

In [34]:
raw_df.head(5)

,elevation,aspect,slope,horizontal_distance_to_hydrology,vertical_distance_to_hydrology,horizontal_distance_to_roadways,hillshade_9mm,hillshade_noon,hillshade_3pm,horizontal_distance_to_fire_points,...,soil_type32,soil_type33,soil_type34,soil_type35,soil_type36,soil_type37,soil_type38,soil_type39,soil_type40,cover_type
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5

We have successfully added the column header and the raw dataset is ready for further processing.
* Next steps: Data Exploration